PORT=5000
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-host>/cart_production?retryWrites=true&w=majority&appName=<app_name>
NODE_ENV=production
SEBASTIAN_MESSAGE_API_URL=http://shipment-alb-468259091.us-east-2.elb.amazonaws.com/docs
FIRESTORE_MESSAGES_COLLECTION=message_chain_logs
